VITE_SUPABASE_URL=https://pgaexrhcyjnmephpwdbu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBnYWV4cmhjeWpubWVwaHB3ZGJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1NjU1ODQsImV4cCI6MjA4OTE0MTU4NH0.rT5m7EBAvetbFIMumleFAZhMbwHZ6KT_Iy66TNSSQ9c
